.container
  .row
    #status-box
      .well
        %span
          PokémonGo Server Status:
        %span#status-text
          = @status
  .row
    #report-box
      .well
        %p
          Describe the Pokémon Go server status
        %button.btn.btn-success
          Working!
        %button.btn.btn-warning
          Intermittently working
        %button.btn.btn-danger
          Total Broken

  .row
    .col-md-6
      #past-statuses
        .well
          %h2
            Previous Status
    .col-md-6
      #reports
        .well
          %h2
            Real Time Status Reports
