#status-box {
  font-size: 30px;
  text-align: center;
}

#current-status-time {
  font-size: 10px;
  color: grey;
}

#email-box {
  text-align: center;
}

#email-thanks {
  display: none;
}

#report-box {
  text-align: center;
}

#report-thanks {
  display: none;
}

#current-status-text.down {
  color: #d9534f;
}

#current-status-text.intermittent {
  color: #f0ad4e;
}

#current-status-text.up {
  color: #5cb85c;
}
